doctype html
html
    body
        h1 Hello #{sender.firstName} #{sender.lastName},
        p I regret to inform you that your adoption request for the cat #{cat.name} has been declined.
        p Thank you for your interest in adopting a cat.
        .footer
            p Best regards,
            p #{receiver.firstName} #{receiver.lastName}
